.vscode/

spek.ipynb

build/output/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
sim

output/
*.csv

Software/
XRF-simulation/
min_xrf2/
xrf-v0/

build/extreme.mac
build/run_one.mac
build/smoke_sep_hits.mac
build/one_big.mac
build/smoke_sep_liv.mac